accelerate
bitsandbytes
datasets
deepspeed==0.15.0
einops
flash-attn==2.6.1
jsonlines
loralib
optimum
packaging
peft
dm-launchpad[tensorflow]
torchmetrics
tqdm
llm-blender==0.0.2
transformers==4.43.3
vllm==0.4.2
transformers_stream_generator
wandb
wheel
ml_collections
pyarrow>=0.6.1,<12
python-Levenshtein==0.25.1
mosec
httpx
msgspec
